<div class="container mx-auto">
  <div class="flex flex-row">
    <header class="flex-none bg-gray-400 px-4 py-2 m-2"> 
      <h1 class="logo">ScrapedNews</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/scrape" class="scrape">Scrape</a></li>
      </ul>
    </header>
    <div class="col1 flex-initial bg-gray-400 px-4 py-2 mx-5 my-2">
      <div id="articles">
       
      </div>
    </div>
    <div class="col2 flex-initial bg-gray-400 px-4 py-2 mx-5 my-2">col 2</div>
  </div>
</div>
