@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Rubik&display=swap');

:root {
  --font-title: 'PT Sans', sans-serif;
  --font-body: 'Rubik', sans-serif;

}
body {
  font-size: 100%;
  font-family:  var(--font-body);
}


article {
  
}
article h3 a {
  color: green;
  font-family: var(--font-title);
  font-size: 1.3em;
}
article h3 a:hover {
  color: greenyellow;
}
